#hero-sec {
  height: 90vh;
  /* max-height: 80vw; */
  width: 100%;
  background: url('../../public/imgs/hero-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 3vh;
  background-attachment: fixed;
}

#classes {
  height: auto;
  min-height: 80vh;
  width: 100%;
  padding-bottom: 10vh;
  background: #191919;
}

.hero-q {
  height: auto;
  width: 22.5vw;
  min-width: 380px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: crimson; */
}

.hero-q .hq1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 22px;
  font-family: var(--font7);
  font-weight: bolder;
  font-size: 3.3rem;
  /* font-style: italic; */
  background-color: var(--green);
  transform: skewY(-20deg);
}

.m-title {
  font-family: var(--font8);
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 34px;
}

.dark {
  color: #191919 !important;
}

.t-title {
  font-family: var(--font8);
  color: #fff;
  font-size: 36px;
  font-size: 90px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 70px;
}

#title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 0;
}

.class-cards {
  /* background: gold; */
  padding: 0 10vw;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px 30px;
}

.cc-card {
  flex: 0.25;
  min-width: 300px;
  overflow: hidden;
}

.cc-card .poster {
  display: inline-block;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.45s !important;
}

.cc-card .poster img {
  width: 100%;
  transition: 0.45s;
}

.cc-card .poster:hover img {
  transform: scale(1.2);
}

.hq1 img {
  height: 70px;
}

.cc-card .poster:hover::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  transition: background 0.45s !important;
  background: rgba(24, 24, 24, 0);
}

.cc-card .poster:hover::after {
  content: '';
  transition: background 0.45s !important;
  background: rgba(24, 24, 24, 0.238);
}

.c-txt {
  width: 100%;
  display: flex;
  margin-top: 25px;
  align-items: flex-start;
  justify-content: space-between;
}

.cc-card:hover .c-txt .m-title {
  color: var(--green);
}

.cc-card .c-txt .m-title {
  transition: ease-in-out 0.45s;
}

#intro>* {
  flex-shrink: 0 !important;
}

#intro {
  width: 100%;
  padding: 10vh 10vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 5px solid lime; */
}

.it-l {
  /* border: 5px solid coral; */
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 50px;

}

#it-lt>#it-crd {
  flex-shrink: 0;
}

#it-lt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

#it-lt #intro-arr {
  /* width: 50%; */
  position: relative;
  /* background-color: rgb(255, 236, 131); */
  /* overflow: hidden; */
}

#it-lt #intro-arr img {
  width: 400px;
  /* overflow: hidden; */
}

#it-lt #intro-arr:hover img {
  animation: sawing 2s ease-in-out alternate infinite;
}

@keyframes sawing {
  from {
    margin-left: -50px;
  }

  to {
    margin-right: 50px;
  }
}

#it-lt #intro-arr h1 {
  bottom: 50px;
  left: 50px;
  width: 400px;
  position: absolute;
  /* overflow: hidden; */
}

#it-crd {
  /* background-color: rgb(215, 255, 154); */
  width: 370px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 25px;
}

#it-crd .olay {
  display: inline-block;
  position: relative;
}

#it-crd .olay img {
  width: 100%;
}

#it-crd .olay::after {
  content: '';
  height: 99%;
  display: block;
  width: 100%;
  background: rgba(157, 255, 0, 0);
  z-index: 11;
  top: 0;
  position: absolute;
  transition: all 0.35s;
}

#it-crd:hover .olay::after {
  content: '';
  background: rgba(32, 32, 32, 0.452);
}

.mt-10 {
  margin-top: 20vh;
}

.mt-5 {
  margin-top: 50px;
}

#lm-bg {
  margin-top: -7px;
  padding: 7px 0 5px 0;
  font-size: 1.1rem;
  font-weight: 600 !important;
  background: var(--green);
}

.s-title {
  font: 600 1.1rem;
  font-family: var(--font3);
}

#eqmt {
  padding: 0 17%;
}

#cyc {
  height: auto;
  min-height: 70vh;
  background: url('../../public/imgs/pst2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: right; */
  /* background-attachment: fixed; */
  background-position: top;
  position: relative;
}

#cor-a img:hover {
  animation: sawing 2s ease-in-out alternate infinite;
}

#cor-a img {
  width: 370px;
  position: absolute;
  bottom: -242px;
  right: 12vw;
}

.rev {
  width: 100%;
  /* background-color: #ffd8ca; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 15vw;
  gap: 100px;
}

.rev .r-lef {
  flex: 40%;
  min-width: 400px;
  flex-shrink: 0;
}

.rev .r-right {
  flex: 60%;
  /* background-color: rgb(149, 255, 149); */
}

.rev .r-lef img {
  width: 100%;
}

#feed {
  /* background: gold; */
  padding-bottom: 100px !important;
}

#light {
  font-weight: 300 !important;
  font-size: 1.65rem;
  padding: 35px 60px;
}

#qt1,
#qt2 {
  width: 80px;
}

#qt2 {
  float: right;
}

.play-sto {
  display: flex;
  /* background: crimson; */
  align-items: center;
  padding: 0px 60px;
  padding-top: 45px;

  border-top: 1px solid #2f2f2f23;
  width: 100%;
  margin-top: 120px;
  gap: 55px;
}

.play-sto span {
  display: flex;
  align-items: center;
}

.play-sto span #arr {
  height: 45px;
}

.play-sto span a {
  color: #191919;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--font3);
  padding-left: 12.5px;
}

#pack {
  height: auto;
  min-height: 80vh;
  padding-bottom: 10vh;
  background-color: var(--green);
}

#pack #dgl img {
  width: 85px;

  margin-top: -40px;
}

#pack #dgl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#one-to {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

#one-to .nm {
  height: 55px;
  width: 55px;
  border: 2.5px solid #191919;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-family: var(--font8);
  font-weight: bolder;
}

.nm1 {
  color: var(--green);
  background: #191919;
}

#one-to hr {
  border: 1px solid #1919193b;
  width: 85px;
}

#pack .t-title {
  font-size: 5rem;
}

#pack {
  position: relative;
}

.custom-shape-divider-bottom-1679121643 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* background: red; */
  line-height: 0;
}

.custom-shape-divider-bottom-1679121643 svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 99px;
  /* color: red; */
}

.custom-shape-divider-bottom-1679121643 .shape-fill {
  fill: #191919;
}

#prc-crd {
  height: auto;
  padding: 10vh 23.5vw;
  width: 100% !important;
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  gap: 35px 25px;
}

#prc-crd .pc {
  width: 31%;
  min-width: 270px;
  border: 1px solid #1919196b;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

#prc-crd .pc:hover {
  border: 1px solid #191919;
}

#prc-crd span {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px 30px;
  transition: 0.15s ease-in-out;
  border: 3px solid #19191900;
}

#prc-crd .pc:hover span {
  border: 3px solid #191919;
}

.pc .w-dot {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  outline: #191919 !important;
  color: currentColor;
  position: relative;
  display: inline-block;

  accent-color: #191919;
}

.w-dot::before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 37px;
  border-radius: 50%;
  width: 37px;
  /* height: ; */
  border: 3px solid #191919 !important;
}

.pc b {
  font-size: 1.2rem;
}

.pc p {
  line-height: 20px;
}

.conti {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* padding: 0 10vw; */
  gap: 15px;
  position: absolute;
  bottom: 0;
  right: 26vw;
  cursor: pointer;
  /* background-color: red; */
}

.conti img {
  height: 55px;
}

.conti {
  font-family: var(--font8);
  font-size: 1.3rem;
  font-weight: bold;
}

.ins-flw {
  background-color: #191919;
  color: #ccc;
  padding: 30px 10vw;
  padding-bottom: 80px;
  font-family: var(--font2) !important;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
}

.ins-flw .green {
  color: var(--green);
  padding-left: 15px;
  font-weight: 400;
  font-family: var(--font2) !important;
}

#gallery {
  width: 100%;
  display: flex;
  align-items: center;
}

#gallery .lay {
  width: 0.125;
  height: 200px;
  /* background: gold; */
  overflow: hidden;
}

#gallery .lay img {
  width: 100%;

  transition: 0.35s ease-in;
}

#gallery .lay:hover img {
  transform: scale(1.1);
}

footer {
  width: 100%;
  padding: 5vh 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

footer .ftr1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ftr1 .f1r {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: var(--font2) !important;
  font-weight: 400;
  font-size: 1.1rem;
}

.f1l {
  display: flex;
  gap: 70px;
}

.f1l>* {
  font-size: 2rem !important;
}

.ftr2 {
  width: 100%;
  display: flex;
  border: 25px solid #ededed;
}

.ftr2 input:first-child {
  flex: 1;
  background: transparent;
  padding: 13px 25px;
  font-family: var(--font3);
  font-size: 0.9rem;
  outline: none;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: 0.25s;
}

.ftr2 input:first-child:hover {
  border: 2px solid #191919;
}

.ftr2 input:last-child {
  /* flex: 1; */
}

.btn {
  width: fit-content;
  min-width: 200px;
  color: #191919;
  background: #fff;
  border: none;
  border-left: 1px solid #aaaaaa95;
  outline: none;
  font-family: var(--font5);
  /* font-weight: bold; */
  font-size: 1.2rem;
  transition: 0.25s;
  padding: 0 5vw;
}

.btn:hover {
  background-color: var(--green);
}

.ftr3 {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
