#ownerz{
    /* background: crimson; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
#tm-cd{
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#tm-cd #prlx{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    display: inline-block;
    overflow: hidden;
    /* gap: 15px; */
}
#tm-cd #prlx:hover .soc{
    /* opacity: 1; */
    bottom: 0;
    left: 0;
    z-index: 111;
}
#tm-cd #prlx img{
    width: 100%;
    transition: 0.35s ease-in;
}
#tm-cd #prlx:hover::after{

    background: rgba(1, 1, 1, 0.38);
}
#tm-cd #prlx::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 99%;
    width: 100%;
    z-index: 11;
    transition: 0.15s ease-in-out;
    background: transparent;

}
#tm-cd #prlx:hover img{
    transform: scale(1.1);
}
#tm-cd #prlx .soc > *{font-size: 1.85rem; }
#tm-cd #prlx .soc{
    width: 120%;
    background: var(--green);
    gap: 22.5px;
    padding: 14px 28px;
    height: auto;
    display: flex;
    position: absolute;
    bottom: -45px;
    left: -15px;
    /* justify-content: center; */
    
    /* opacity: 0; */
    transition: 0.15s ease-in-out;
    /* flex-direction: column; */
    /* gap: 15px; */
}
#tr-name{
    font-size: 1.45rem;
    color: #fff;
    font-family: var(--font8);
    font-weight: bold;
    margin-top: 15px;
    transition: 0.35s ease-in-out;
}
#tr-post{
    font-size: 1.2rem;
    font-family: var(--font8);
    font-weight: bold;
    color: gray;
    transition: 0.35s ease-in-out;

}
#trainerzz > *{
    width: 22%;
}
#trainerzz{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px 30px;
}

#trainerzz #tm-cd{
    margin-top: 12vh;

}
#trainerzz #tm-cd:nth-child(2),
#trainerzz #tm-cd:nth-child(6){
margin-top: -12vh !important;
}
#trainerzz #tm-cd:nth-child(3),
#trainerzz #tm-cd:nth-child(7){
margin-top: 0vh !important;
}
#tm-cd:hover #tr-name{
    color: var(--green);
    /* transform: scale(1.1); */
}
#tm-cd:hover #tr-post{
    color: #eee;
    /* transform: scale(1.1); */
}
@media (width < 1200px) {
    #ownerz {
        /* flex-direction: column; */
    }

    #ownerz>* {
        width: 40%;
    }

    #trainerzz {
        flex-wrap: wrap;
    }

    #trainerzz>* {
        min-width: 350px;
    }

    #trainerzz #tm-cd:nth-child(2),
    #trainerzz #tm-cd:nth-child(6) {
        margin-top: 0vh !important;
    }

    #trainerzz #tm-cd:nth-child(3),
    #trainerzz #tm-cd:nth-child(7) {
        margin-top: 0vh !important;
    }

    #trainerzz #tm-cd {
        margin-top: 0vh;

    }

    .blog-container,
    .ttd {
        flex-wrap: wrap;
    }

    .blog-container>*,
    .ttd>* {
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 300px;
    }
}

@media (width < 650px) {
    .co-info {
        flex-shrink: 1 !important;
        height: auto !important;
        width: 100% !important;
        min-width: 0 !important;
    }
    #B-data {
        padding: 25px !important;
    }

    #B-title {
        font-size: 1.8rem !important;
        line-height: 30px;
    }
}

@media (width < 1000px) {
    #ownerz>* {
        width: 48%;
    }

    #tm-cd #prlx .soc {
        /* background: red !important; */
        width: 130%;
        bottom: -80px !important;
        height: fit-content !important;
        padding: 0px 35px !important;
    }

    #tm-cd:hover #prlx .soc {
        bottom: 0 !important;
    }
}

@media (width < 900px) {
    #ownerz>* {
        width: min(90%, 500px);
    }

    #ownerz {
        flex-direction: column;
        gap: 25px;
    }

}
@media (width < 700px) {
    .ab-scr {
        background-size: 150%;
        background-position: right center;
        background-attachment: scroll;
        height: 100vw;
    }
}