@media (max-width:1200px) {
    .ab-cds>* {
        flex-direction: column !important;
    }

    .acd-l {
        padding: 0 !important;
    }

    .ab-cds .acd>* {
        width: 100% !important;
    }
}

@media (max-width:1450px) {
    .ab-cds #the-gym {
        display: none !important;
    }
}

@media (max-width:1350px) {
    .policy {
        display: none;
    }

    .ftr3 .links {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1250px) {
    header nav .links {
        display: none !important;
    }

    .ttl {
        padding: 6vh 7vw;
    }



    .ftr1>* {
        width: 100%;
        justify-content: space-between;
    }

    .ftr1 {
        gap: 25px;
        flex-direction: column;
    }

    .f1l {
        width: 30%;
    }

    #togg {
        display: flex !important;
    }

    .nv-btns {
        display: none !important;
    }

    #intro {
        flex-direction: row;
        /* background: gold; */
        gap: 50px;
    }

    #intro>* {
        flex: 0.5;

    }

    #it-lt {
        flex-direction: row !important;
        /* background: pink; */
        justify-content: center !important;
    }

    .it-l>* {

        width: 100%;
        flex-direction: row !important;
    }

    #intro>* {
        width: 100% !important;
    }

    .it-l {
        width: 100%;
    }

    #it-crd {
        margin-top: 0 !important;
    }

    #it-lb {
        display: none;
    }
}



@media (max-width:950px) {
    #intro {
        flex-direction: column !important;
    }

    #prc-crd .pc {
        width: 100%;
    }

    .it-l>* {

        width: 100% !important;
        flex-direction: row !important;
    }

    .it-l {
        width: 100%;
    }

    .rev {
        overflow-x: hidden !important;
        width: 100% !important;
        flex-direction: column;
        padding: 0 10vw !important;
        /* border: 3px solid blue; */
        gap: 50px !important;
        align-items: center !important;
    }

    .rev .r-lef {
        /* flex: 1 !important; */
        min-width: 80% !important;
        /* border: 5px solid crimson; */

    }

    .rev .r-right {
        width: 100% !important;
        /* border: 5px solid lime; */
    }

    #qt1,
    #qt2 {
        width: 50px !important;
    }

    #light {
        font-weight: 300 !important;
        font-size: 1.2rem !important;
        padding: 12px 0 !important;
    }

    .play-sto {
        flex-direction: column;
        margin-top: 75px !important;
        padding-top: 15px !important;
    }

    #it-r {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 50px;
        align-items: center !important;
        justify-content: center !important;
    }

    .mobf {
        display: none !important;
    }


}

@media (min-width:550px) {
    .cc-card {

        flex: 0.25;
    }


}

@media (max-width:800px) {

    #cyc {
        min-height: 40vh !important;
    }

    #cor-a img:hover {
        animation: sawing 2s ease-in-out alternate infinite;
    }

    #cor-a img {
        width: 150px !important;
        /* position: absolute; */
        bottom: -98px !important;
        right: 12vw;
    }

    footer {
        flex-direction: column !important;
        padding: 25px;
    }

    footer .ftr1 {
        gap: 25px;
        flex-direction: column !important;
        /* align-items: flex-start !important; */
    }

    footer .ftr1 .f1r {
        gap: 12.5px;
        /* align-items: flex-start !important; */
        flex-direction: column !important;
        text-align: center;
    }

    footer .ftr1 .f1l {
        gap: 12.5px;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        /* flex-direction: column !important; */
    }

    .ftr2 {
        display: none;
    }


    .ftr3 {
        width: 100% !important;
        align-items: center;
        justify-content: space-between;
        display: flex;

    }

    .ftr3 .links {
        width: 100% !important;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px !important;
        display: none;
    }
}

@media (max-width:550px) {
    header nav .links {
        display: none;
    }


    #togg img {
        height: 30px !important;
    }

    #it-lt #intro-arr img {
        width: 80% !important;
    }

    #it-lt #intro-arr h1 {
        width: 100% !important;
    }

    #hero-sec {
        height: 80vh;
        padding-bottom: 0;
    }

    .custom-shape-divider-bottom-1679121643 svg {

        height: 45px !important;
        /* color: red; */
    }

    #intro {
        /* background: pink; */
        /* overflow: hidden; */
    }

    #it-crd {
        min-width: 290px;
        width: 100% !important;
        gap: 10.5px !important;
        /* background: aqua; */
    }

    header {
        min-height: 70px !important;
        /* width: 100vw !important; */
    }

    header nav {
        /* width: 100vw !important; */

        padding: 0px 7vw !important;
    }

    .logo img {
        height: 25px !important;
    }

    #classes {

        width: 100%;
        padding-bottom: 10vh;
        background: #191919;
    }

    .hero-q {
        width: 22.5vw;
        min-width: 227px !important;
        gap: 17px !important;
    }

    .hero-q .hq1 {
        width: 100%;
        padding: 22px 12px !important;
        font-family: var(--font7);
        font-weight: bolder;
        font-size: 2rem !important;
        /* font-style: italic; */
        background-color: var(--green);
        transform: skewY(-20deg);
    }

    .m-title {
        font-family: var(--font8);
        color: #fff;
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 34px;
    }

    .dark {
        color: #191919 !important;
    }

    .t-title {
        font-size: 62px !important;
    }

    #title {
        align-items: flex-start !important;
        /* justify-content: flex-start !important; */
        padding: 12vh 10vw !important;
        padding-bottom: 5vh !important;
    }

    #title .t-title {
        width: 220px;
        /* background: red; */
        font-size: 55px !important;
    }


    #it-lt #intro-arr h1 {
        left: 0 !important;
        bottom: -20px !important;
    }

    #pack .t-title {
        width: 80%;
        margin-top: -35px !important;
        font-size: 3rem !important;
    }

    #prc-crd {
        padding: 25px 10vw !important;
        padding-bottom: 10vh !important;
    }

    #one-to {
        margin-top: 15px !important;
        gap: 12px !important;
    }

    #one-to hr {
        width: 60px !important;
    }

    #one-to .nm {
        height: 40px !important;
        width: 40px !important;
    }

    .conti {
        bottom: -5px !important;
        right: 13vw !important;
    }

    .ins-flw {
        padding-bottom: 30px;
    }


    .hq1 img {
        height: 50px;
    }



    .cc-card {
        flex: 1;
    }

    .policy {
        display: none;
    }

    .class-cards {
        padding: 0 10vw !important;
        gap: 25px !important;
    }

    .c-txt img {
        margin-top: 7px;
    }

    .c-txt {
        font-size: 30px;
        margin-top: 12px;
        margin-bottom: 15px;
    }

    .c-txt .m-title {
        font-size: 30px;
    }

    #it-lt #intro-arr img {
        animation: sawing 2s ease-in-out alternate infinite;

    }

    #gallery .lay {
        height: 90px !important;
    }

    #gallery .lay:nth-child(odd) {
        display: none !important;

    }

    #ms-crd {
        gap: 25px;
    }

    .sqrt {
        min-height: 30vh !important;
        height: 30vh !important;
    }

    #ms-crd #msc {
        margin-top: 0 !important;
    }

    #ms-crd #msc {
        padding: 35px 25px !important;
        padding-top: 47px !important;
    }

    #ms-crd #msc p {

        font-size: 0.88rem !important;
        margin: 20px 0 !important;
        padding: 12px 0 !important;
    }

    #ms-crd #msc .m-title,
    #ms-crd #msc b {
        font-size: 2rem !important;
    }

    #ms-crd #msc>div img {
        height: 45px !important;
    }

    #ms-crd #msc strong {
        padding: 17px 10px !important;
    }

    #the-mship .t-title {
        line-height: 45px !important;
        font-size: 2.5rem !important;
    }

    #prc-crd .pc {
        min-width: 250px;
        max-width: 75vw !important;
    }

    #prc-crd .m-title {
        font-size: 2rem !important;
    }

    #prc-crd span {

        padding: 35px 22.5px;
    }

    .pc b {
        font-size: 1.05rem !important;
    }

    .pc p {
        font-size: 0.9rem !important;
    }

    .f1l {
        display: none;
    }

}
